.DS_Store
.idea/
.vscode/
/bench/
/demo/
/deno/
/ezburn
/github/
/lib/deno/lib.deno.d.ts
/npm/@ezburn/android-arm/ezburn.wasm
/npm/@ezburn/android-arm/wasm_exec_node.js
/npm/@ezburn/android-arm/wasm_exec.js
/npm/@ezburn/android-x64/ezburn.wasm
/npm/@ezburn/android-x64/wasm_exec_node.js
/npm/@ezburn/android-x64/wasm_exec.js
/npm/@ezburn/wasi-preview1/ezburn.wasm
/npm/ezburn-wasm/browser.js
/npm/ezburn-wasm/ezburn.wasm
/npm/ezburn-wasm/esm/
/npm/ezburn-wasm/lib/
/npm/ezburn-wasm/wasm_exec_node.js
/npm/ezburn-wasm/wasm_exec.js
/npm/ezburn/install.js
/npm/ezburn/lib/
/require/*/bench/
/require/*/demo/
/scripts/.*/
/validate/
/www
bin
ezburn.exe
node_modules/
